# 설정 및 비밀 정보
.env
*.pyc
__pycache__/

# 가상환경
.venv/
venv/
env/

# IDE 설정
.vscode/
.idea/

# Node.js / React 관련 (이게 핵심입니다!)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.pnp
.pnp.js
frontend/src/App copy.js
frontend/src/App copy 2.js
frontend/src/App copy 3.js
frontend/src/App copy 4.js
frontend/src/App copy 5.js
frontend/src/FastScalping1.js
frontend/src/FastScalping2.js
frontend/src/FastScalping3.js
frontend/src/FastScalping0311.js
frontend/src/FastScalping0312.js
ws_raw_*.log
ws_log_*.log